{extend name="public/base" /}
{block name="main"}
        <div id="divMain">
            {volist name="artres" id="vo"}
                <div class="post multi-post cate4 auth1">
                        <h4 class="post-date">{$vo.time|date="Y年m月d日",###}</h4>
                        <h2 class="post-title"><a href="{:url('Article/index',array('artid'=>$vo['id']))}">{$vo.title ?? "请添加内容"}</a></h2>
                       
                        <div class="post-body"><p>{$vo.content|html_trim= 80}</p></div>
                         {if condition="$vo['pic'] neq ''"}	
                        <p style="text-indent: 0em;"><a title="{$vo.title}" target="_self" href="{:url('Article/index',array('artid'=>$vo['id']))}"><img src="{$vo.pic}" title="你我网" alt="你我网"/></a></p>
			 {/if}
                        <h5 class="post-tags">Tags: <span class="tags">
                                <?php
                                       $arr  = explode(',', $vo['keywords']);
                                        foreach ($arr as $k => $v) {
                                                $urls = url('index/tags/index',array('tags'=>$v));
                                                echo "<a href='$urls'>$v</a>";
                                                echo ' ';
                                        }
                                ?>
                                </span>
                        </h5>
                         
                         
                         
                         <h6 class="post-footer">
                                发布:圈圈 | 分类:{$catename} | 评论:24 | 浏览:{$vo.click}  | <a href="{:url('Article/index',array('artid'=>$vo['id']))}">阅读全文 > </a>
                        </h6>
                </div> 
            {/volist}
            <div class="post pagebar">{$artres->render()}</div>
        </div>
{/block}